.node circle {
    stroke: steelblue;
    stroke-width: .1px;
    fill: #fff;
}

.node text {
    font: 10px "Arial", sans-serif;
    fill: #333;
}

.link {
    fill: none;
    stroke-width: 2px;
    stroke: #FFF; /* Default stroke color for links */
}

.legend text {
    font: 10px "Arial", sans-serif;
    fill: #333;
}

.summary {
    font: 14px "Arial", sans-serif;
    fill: #000;
}

.view-button, .report-button, .export-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.view-button {
    background-color: #2196F3;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    pointer-events: none; /* Ensure the tooltip doesn't block mouse events */
    z-index: 10;
}

#view-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

#controls {
    margin: 20px 0;
    position: relative;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#report-dropdown {
    padding: 10px;
    font-size: 16px;
}

#generate-report, #export-svg {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
}

#diagram {
    margin-top: 20px;
}
